@import url(./reset.css);

:root {
	/* color */
	/* font-size */
	--fs-s: 1rem;
	--fs-m: 1.25rem;
	--fs-l: 1.5rem;
	/* space */
	--space-xs: 5px;
	--space-s: 10px;
	--space-m: 20px;
	--space-l: 30px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	font-family: inherit;
}

a {
  text-decoration: none;
  color: #000
}

.main {
	background-color: #fff;
	width: 500px;
	padding: var(--space-s) var(--space-m);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 6px 6px 20px #cecccc, -6px -6px 20px #ffffff;
}

.main__container {
	display: flex;
	justify-content: space-between;
}

.main__info {
	display: flex;
	align-items: center;
}

.main__avatar {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 40%;
}

.main__title {
	padding-left: var(--space-s);
	font-size: var(--fs-l);
	font-weight: bold;
}

.main__icons {
	display: flex;
	align-items: center;
}

.main__icon {
	padding-left: var(--space-s);
  font-size: var(--fs-m);
}

.main__text {
	margin-top: var(--space-m);
	font-size: var(--fs-s);
	line-height: 1.5rem;
	opacity: 0.6;
}

.main__menus {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: var(--space-s);
	margin-top: var(--space-s);
	font-size: var(--fs-m);
}
