@import url(./reset.css);
@import url(./components.css/main.css);
@import url(./components.css/card.css);
@import url(./components.css/project.css);

:root {
	/* color */
	--point: rgb(255, 99, 71);
	/* font-size */
	--fs-xxs: 0.8rem;
	--fs-xs: 0.9rem;
	--fs-s: 1rem;
	--fs-m: 1.25rem;
	--fs-l: 1.5rem;
	/* space */
	--space-xs: 5px;
	--space-s: 10px;
	--space-m: 20px;
	--space-l: 30px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	font-family: inherit;
}

a {
	text-decoration: none;
	color: #000;
}

